workflows/flow-c-stale-task-reminder.json
{
  "name": "Flow C - Nhắc task không update (Stale)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Cron - Daily 10:00 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "cronExpression": "0 10 * * *"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "sheetId": {
          "__rl": true,
          "value": "YOUR_SHEET_ID",
          "mode": "list"
        },
        "range": "TASKS!A:N",
        "options": {}
      },
      "id": "read-tasks",
      "name": "Google Sheets - Read TASKS",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [450, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "sheetId": {
          "__rl": true,
          "value": "YOUR_SHEET_ID",
          "mode": "list"
        },
        "range": "USERS!A:D",
        "options": {}
      },
      "id": "read-users",
      "name": "Google Sheets - Read USERS",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [450, 500]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "sheetId": {
          "__rl": true,
          "value": "YOUR_SHEET_ID",
          "mode": "list"
        },
        "range": "SETTINGS!A:B",
        "options": {}
      },
      "id": "read-settings",
      "name": "Google Sheets - Read SETTINGS",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [450, 100]
    },
    {
      "parameters": {
        "jsCode": "const items = [];\nconst stale_days = 3;\nconst today = new Date();\ntoday.setHours(0, 0, 0, 0);\n\nfor (const item of $input.all()) {\n  if (item.json.Status === 'Done') continue;\n  \n  const lastUpdate = new Date(item.json.LastUpdate);\n  lastUpdate.setHours(0, 0, 0, 0);\n  \n  const diffTime = today - lastUpdate;\n  const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));\n  \n  if (diffDays >= stale_days) {\n    items.push({\n      json: {\n        ...item.json,\n        stale_days: diffDays\n      }\n    });\n  }\n}\nreturn items;"
      },
      "id": "filter-stale",
      "name": "Code - Filter Stale Tasks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [
            {
              "field1": "Owner",
              "field2": "Name"
            }
          ]
        },
        "options": {}
      },
      "id": "merge-owner",
      "name": "Merge - Owner Info",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [850, 400]
    },
    {
      "parameters": {
        "chatId": "={{ $json.TelegramID }}",
        "text": "=⚠️ *Task chưa được cập nhật*\n\n📋 Task: {{ $json.Title }}\n🆔 TaskID: {{ $json.TaskID }}\n📊 Status: {{ $json.Status }}\n📅 Last Update: {{ $json.LastUpdate }}\n⏰ Chưa update: {{ $json.stale_days }} ngày\n👤 Owner: {{ $json.Owner }}\n\n✍️ Vui lòng cập nhật trạng thái hoặc lý do block.",
        "additionalFields": {
          "parseMode": "Markdown"
        }
      },
      "id": "send-telegram",
      "name": "Telegram - Send Stale Warning",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1050, 400],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot API"
        }
      }
    }
  ],
  "connections": {
    "Cron - Daily 10:00 AM": {
      "main": [
        [
          {
            "node": "Google Sheets - Read TASKS",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets - Read USERS",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets - Read SETTINGS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Read TASKS": {
      "main": [
        [
          {
            "node": "Code - Filter Stale Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Filter Stale Tasks": {
      "main": [
        [
          {
            "node": "Merge - Owner Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Read USERS": {
      "main": [
        [
          {
            "node": "Merge - Owner Info",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge - Owner Info": {
      "main": [
        [
          {
            "node": "Telegram - Send Stale Warning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
